openapi: 3.0.3
info:
  title: Treasure Shop API
  version: 1.0.0
  description: OpenAPI documentation for the Treasure Shop backend (Go/Gin/MongoDB)
servers:
  - url: https://api.academiccodebase.com
  - url: http://localhost:8080
paths:
  /auth/register:
    post:
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: Registration successful
        '400':
          description: Bad request
  /auth/login:
    post:
      summary: Login and get JWT token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
      responses:
        '200':
          description: Login successful
        '401':
          description: Invalid credentials
  /auth/google:
    post:
      summary: Google OAuth2 login/register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
      responses:
        '200':
          description: Google login/register successful
        '400':
          description: Invalid token
  /api/users/me:
    get:
      summary: Get current logged-in user details
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
  /api/users/{id}:
    put:
      summary: Update user details
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                username:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
                tier:
                  type: string
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: User not found
  /api/admin/users:
    get:
      summary: List users by role (admin only)
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: role
          schema:
            type: string
          required: true
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: page_size
          schema:
            type: integer
      responses:
        '200':
          description: List of users (paginated)
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  total:
                    type: integer
                  page:
                    type: integer
                  page_size:
                    type: integer
  /api/orders:
    post:
      summary: Create a new order
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '201':
          description: Order created
        '400':
          description: Bad request
    get:
      summary: List orders (filterable by user_id, writer_id, status)
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: user_id
          schema:
            type: string
        - in: query
          name: writer_id
          schema:
            type: string
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: page_size
          schema:
            type: integer
      responses:
        '200':
          description: List of orders (paginated)
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  total:
                    type: integer
                  page:
                    type: integer
                  page_size:
                    type: integer
  /api/orders/me:
    get:
      summary: Get current user's orders
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: page_size
          schema:
            type: integer
      responses:
        '200':
          description: List of orders for current user (paginated)
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  total:
                    type: integer
                  page:
                    type: integer
                  page_size:
                    type: integer
        '401':
          description: Unauthorized
  /api/writer/orders/{writer_id}:
    get:
      summary: Get all orders assigned to a writer (writer dashboard endpoint)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: writer_id
          required: true
          schema:
            type: string
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: page_size
          schema:
            type: integer
      responses:
        '200':
          description: List of orders for writer (paginated)
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  total:
                    type: integer
                  page:
                    type: integer
                  page_size:
                    type: integer
  /api/orders/{id}/submissions:
    get:
      summary: Get all submissions for an order
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of submissions for the order
          content:
            application/json:
              schema:
                type: object
                properties:
                  submissions:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderSubmission'
        '401':
          description: Unauthorized
        '404':
          description: Order not found or no submissions
  /api/orders/{id}/feedbacks:
    get:
      summary: Get all feedbacks for an order
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of feedbacks for the order
          content:
            application/json:
              schema:
                type: object
                properties:
                  feedbacks:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderFeedback'
        '401':
          description: Unauthorized
        '404':
          description: Order not found
  /api/orders/{id}/chat/messages:
    get:
      summary: Get chat messages for an order
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: page_size
          schema:
            type: integer
      responses:
        '200':
          description: List of chat messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChatMessage'
                  total:
                    type: integer
        '401':
          description: Unauthorized
        '404':
          description: Order not found
    post:
      summary: Send a chat message (REST fallback)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                receiver_id:
                  type: string
      responses:
        '201':
          description: Message sent
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
        '404':
          description: Order not found
  /api/orders/{id}/chat/read:
    post:
      summary: Mark messages as read
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Messages marked as read
        '401':
          description: Unauthorized
        '404':
          description: Order not found
  /api/orders/{id}/chat/status:
    get:
      summary: Get chat online/offline status
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Online/offline status
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_online:
                    type: boolean
                  writer_online:
                    type: boolean
        '401':
          description: Unauthorized
        '404':
          description: Order not found
  /api/support-users/all:
    post:
      summary: Create or get a support chat session
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                support_id:
                  type: string
      responses:
        '201':
          description: Support chat created
        '400':
          description: Bad request

  /api/support/chat/invite-writer:
    post:
      summary: Invite a writer to a support chat
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: string
                writer_id:
                  type: string
      responses:
        '200':
          description: Writer invited
        '400':
          description: Bad request

  /api/support/chat/accept-invite:
    post:
      summary: Writer accepts support chat invite
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: string
                writer_id:
                  type: string
      responses:
        '200':
          description: Invite accepted
        '400':
          description: Bad request

  /api/support/chat/messages:
    post:
      summary: Send a message in a support chat (REST)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: string
                message:
                  type: string
                receiver_id:
                  type: string
      responses:
        '201':
          description: Message sent
        '400':
          description: Bad request
    get:
      summary: Get messages in a support chat (REST)
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: chat_id
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: page_size
          schema:
            type: integer
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChatMessage'
                  total:
                    type: integer
        '400':
          description: Bad request


  /api/support/chat/ws/{chat_id}:
    get:
      summary: WebSocket for support chat
      description: |
        Real-time support chat for user, support, and writer.
        
        **WebSocket connection:**
        - URL: `/api/support/chat/ws/{chat_id}?token=JWT`
        - Authenticate with JWT in `token` query param or `Authorization: Bearer <JWT>` header.
        
        **Message format:**
        ```json
        {
          "type": "message" | "invite" | ...,
          "chat_id": "...",
          "sender_id": "...",
          "receiver_id": "...",
          "message": "...",
          "writer_id": "...", // for invite
          "timestamp": 1720799999
        }
        ```
        
        - `type` can be `message` (chat message), `invite` (writer invite), etc.
        - All messages are broadcast to all connected chat participants.
        - On `invite`, an event is sent to the invited writer.
      parameters:
        - in: path
          name: chat_id
          required: true
          schema:
            type: string
        - in: query
          name: token
          schema:
            type: string
          description: JWT token for authentication (alternative to Authorization header)
      responses:
        '101':
          description: WebSocket protocol upgrade
        '400':
          description: Bad request

  /api/support-users/paginated:
    get:
      summary: List support users (paginated)
      description: Returns a paginated list of all users with the 'support' role. Requires authentication.
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: integer
          description: Page number (default 1)
        - in: query
          name: page_size
          schema:
            type: integer
          description: Page size (default 100)
      responses:
        '200':
          description: List of support users (paginated)
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  total:
                    type: integer
                  page:
                    type: integer
                  page_size:
                    type: integer
        '401':
          description: Unauthorized

  /api/support-users/all:
    get:
      summary: List all support users (unpaginated)
      description: Returns all users with the 'support' role (unpaginated). Requires authentication.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of all support users (unpaginated)
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  total:
                    type: integer
        '401':
          description: Unauthorized
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        username:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        password:
          type: string
          writeOnly: true
        roles:
          type: array
          items:
            type: string
        tier:
          type: string
    Role:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
    UserLogin:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
    Order:
      type: object
      properties:
        order_number:
          type: string
        user_id:
          type: string
        order_type_id:
          type: string
        order_level_id:
          type: string
        level_name:
          type: string
        order_pages_id:
          type: string
        order_pages_name:
          type: string
        order_urgency_id:
          type: string
        order_urgency_name:
          type: string
        order_style_id:
          type: string
        order_style_name:
          type: string
        title:
          type: string
        description:
          type: string
        price:
          type: number
        status:
          type: string
        writer_id:
          type: string
        writer_name:
          type: string
        submission_date:
          type: string
          format: date-time
        feedback:
          type: string
        is_high_priority:
          type: boolean
        order_language_id:
          type: string
        order_language_name:
          type: string
        no_of_sources:
          type: string
        preferred_writer_number:
          type: string
          nullable: true
        original_order_file:
          type: string
          nullable: true
        apply_feedback_requests:
          type: integer
        updated_at:
          type: string
          format: date-time
    OrderType:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    OrderLevel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    OrderPages:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    OrderUrgency:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
    OrderStyle:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
    OrderLanguage:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
    PaymentRequest:
      type: object
      properties:
        order_id:
          type: string
        method:
          type: string
          enum: [paypal, paypal_capture, mastercard]
        payment_info:
          type: object
      required:
        - order_id
        - method
        - payment_info
    OrderSubmission:
      type: object
      properties:
        id:
          type: string
        order_id:
          type: string
        submission_date:
          type: string
          format: date-time
        description:
          type: string
        submission_file:
          type: string
        submission_trial:
          type: integer
    OrderFeedback:
      type: object
      properties:
        id:
          type: string
        order_id:
          type: string
        feedback:
          type: string
        feedback_file:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ChatMessage:
      type: object
      properties:
        id:
          type: string
        order_id:
          type: string
        sender_id:
          type: string
        receiver_id:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time
        read:
          type: boolean
    SupportChat:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        support_id:
          type: string
        writer_id:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SupportChatMessage:
      type: object
      properties:
        id:
          type: string
        chat_id:
          type: string
        sender_id:
          type: string
        receiver_id:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time
        read:
          type: boolean
